.btn {
  margin: 0 15px;
  border: none;
  border-radius: 15px;
  background-color: #420c0c;
  color: #f4d3ca;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  padding: 10px 30px;
  cursor: pointer;

  &:hover {
    background-color: #5e1414;
    transition: 0.4s;
  }

  &:active {
    background-color: #ad8786;
    color: #420c0c;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
  }
}

.btn__services {
  background-color: rgb(189, 17, 149);
  border: none;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  color: rgb(244, 246, 248);
  font-weight: bold;
}

.isSelected {
  background-color: #86f886;
}

